@{
  Layout = "_Layout";
}

@model PierresSweetAndSavory.Models.Treat;

<h1>Add a Treat</h1>
@using(Html.BeginForm())
{
  @Html.TextBoxFor(model => model.TreatName, new{@class = "form-control", placeholder = "Enter the Treat name Here", required = "required"})
  <br>
  @Html.TextBoxFor(model => model.Description, new{@class = "form-control", placeholder = "Enter a Description Here", required = "required"})
  <br>
  <input type="submit" value="Add Treat" class="btn btn-outline-warning"/>
}
<br>
<h4 class="h4">@Html.ActionLink("Return to Treats", "Index")</h4>
<br>
<h4 class="h4">@Html.ActionLink("Return Home", "Index", "Home")</h4>