@{
  Layout = "_Layout";
}

@using System.Security.Claims

<p>@ViewBag.ErrorMesssage</p>
@if (User.Identity.IsAuthenticated)
{
  <h3>Welcome @User.Identity.Name!</h3>
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}